<section class="about bg-light p-4">
  <div class="container" style="text-align: center;">
    <h2 class="display-4">Sobre o grupo</h2>
    <div class="row">
      <p class="lead">O GRIN (Grupo de Pesquisa em Redes, Infraestrutura e Computação em Nuvem) foi criado em 2015 pelo professor Tiago Coelho Ferreto (PUCRS), com o intuito de auxiliar a formação de pesquisadores e desenvolver novas soluções em áreas como infrastrutura de TI, com ênfase em redes de computadores, virtualização e computação em nuvem.</p>
    </div>
  </div>
  
  <div class="container">
    <h2 class="display-4 text-center mt-4 mb-5">Áreas de Estudo</h2>
    <div class="row lista">
      <div class="col-lg-6">
        <ul>
          <li><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Gerência de redes e infraestrutura de TI</li>
          <li><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Consolidação de servidores</li>
          <li><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Estratégias para eficiência energética</li>
          <li><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Redes definidas por software (SDN)</li>
          <li><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Virtualização de funções de rede (NFV)</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul>
          <li><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Escalonamento de máquinas virtuais</li>
          <li><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Automação no provisionamento de infraestrutura</li>
          <li><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Computação em nuvem móvel</li>
          <li><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Avaliação de mecanismos de virtualização</li>
          <li><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Segurança em redes de computadores</li>
        </ul>
      </div>
    </div>
  </div>

</section>