<footer style="background-color: #333; color: white;">
  <div class="container-fluid p-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-4" style="text-align: end;">
            <img src="/img/GRIN.png" alt="GRIN" style="max-width: 100px;">
          </div>
          <div class="col-8 lead">
            <p>Grupo de Pesquisa em Redes, Infraestrutura e Computação em Nuvem</p>
            <p>Escola Politécnica - PUCRS</p>
          </div> 
        </div>
      </div>
      <div class="col-lg-6 my-auto text-center">
        <div class="lead">
          <p>Contato: tiago.ferreto@pucrs.br</p>
        </div>
      </div>
    </div>
  </div>
</footer>