<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="flex-wrap: nowrap;">
  <div class="container text-uppercase" style="justify-content: center;">
    <a href="/">
      <img src="/img/GRIN.png" width="50%">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: end;">
      <div class="navbar-nav m-2">
        <!-- <a id="nav-a" class="nav-item nav-link mr-auto {% if page.id == 'index' %}active{% else %}{% endif %}" href="#inicio">Início</a> -->
        <a id="nav-a" class="nav-item nav-link" href="/">Principal</a>
        <a id="nav-a" class="nav-item nav-link" href="/team">Equipe</a>
        <a id="nav-a" class="nav-item nav-link" href="/projects">Projetos</a>
        <a id="nav-a" class="nav-item nav-link" href="/publications">Publicações</a>
        <a id="nav-a" class="nav-item nav-link" href="/available-positions">Oportunidades</a>
        <a id="nav-a" class="nav-item nav-link" href="/news">Notícias</a>
        <a id="nav-a" class="nav-item nav-link" href="/contact">Contato</a>
      </div>
    </div>
  </div>
</nav>