<section id="partners">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2 class="display-4 p-5">Parceiros</h2>
    </div>
  </div>
	<div class="container-fluid mb-5" style="padding: 0 10em 0 10em">
		<div class="row">
      {% for partner in site.partners %}
        <div class="col-sm-4 text-center">
          <a href="{{ partner.website }}" target="_blank"><img src="{{ partner.image }}" alt="{{ partner.name }}'s image" class="center-block partner-img"></a>
        </div>
      {% endfor %}
    </div>
	</div>
</section>