.portfolio-modal .modal-dialog{
  margin: 1rem;
  max-width: 100vw;
} 
.modal-content {
  text-align: center;
}

.modal-content button {
  cursor: pointer;
}

.modal-content .button {
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: rgb(0, 213, 201);
  border-color: rgb(0, 213, 201);
}

.btn-primary:hover {
  background-color: rgb(1, 194, 184);
  border-color: rgb(1, 194, 184);
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 100px;
  height: 100px;
  border: solid;
  border-color: #333;
}

@media (min-width: 768px) {
  .team-member img {
    width: 140px;
    height: 140px;
  }
}

.partner-img {
  height: 70px;
}