.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 100px;
  height: 100px;
  border: solid;
  border-color: #333;
}

@media (min-width: 768px) {
  .team-member img {
    width: 140px;
    height: 140px;
  }
}