---
layout: default
---
<header>
  <div class="jumbotron jumbotron-fluid mb-0 header" id="projetos">
    <div class="container">
      <div class="row align-items-center" style="justify-content: center">
        <h1 class="display-4">{{ page.title }}</h1>
      </div>
    </div>
  </div>
</header>

<section class="post">
  <div class="container p-0 mt-3" style="background-color: white;">
    {{ content }}
  </div>
</section>

<footer class="post-footer">
  <figure class="img-grin">
    <img src="/img/GRIN.png">
  </figure>
  <div class="container">
    <div class="row">
      <div class="author">
        <p style="color: #b7b9c2; font-family: 'Montserrat';">Escrito por:</p>
        <h5 style="font-family: 'Montserrat'; font-size: 1rem;">{{ page.author }}</h5>
      </div>
  </div>
  </div>
</footer>

<div class="container mt-4 mb-4">
  <div class="row">
    {% for post in site.posts limit:3%}
    <div class="card-deck mb-5 col-lg-4">
        <div class="card">
          <a href="{{ post.url }}">
            <img class="card-img-top" src="{{ post.picture }}" alt="Imagem de capa do card">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ post.data }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>